@import url('https://fonts.googleapis.com/css?family=Marck+Script|Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

nav h1 {
  font-family: 'Marck Script', cursive;
  font-size: 2.2em;
  margin: 0;
}

nav .search-icon span {
  font-weight: bold;
  font-size: 0.9em;
} 

.navbar-nav .nav-item {
  padding: 0 0.5em;
  
}

.navbar-nav a {
  font-weight: bold;
}


.mas-eventos span {
  font-size: 1.1em;
  font-weight: bold;
}

.presentacion {
  font-size: 1.3em;
}


#proximos.carousel{
  height: 100%;       
}


.carousel-control {
  color: #343A40;
}

#img {
  width: 350px;
  height: 181.63px;
}

.contenido:not(.home-container .hoja-container .canal-container) .card-body {
  height: 23em;
}

.page-footer {
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
}










