@import url('https://fonts.googleapis.com/css?family=Kalam|Marck+Script|Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

nav h1 {
  font-family: 'Marck Script', cursive;
  font-size: 2em;
  margin: 0;
}

nav .search-icon span {
  font-weight: bold;
  font-size: 0.9em;
} 

.navbar-nav .nav-item {
  padding: 0 0.5em;
  
}
